<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Property List.plist
   SoundcraftRM100

   Created by Thomas O'Harriedge on 24.12.16.
   Copyright (c) 2016 Thomas O'Harriedge. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
